@use "sass:math";

$font-size: 25px;
$black: #000000;
$white: #ffffff;
$orange: #ff522f;
$time: 500ms;
$delay: math.div($time, 2);
$hemburger-menu-color: #a3a3a3;
$mobile-menu-overlay: rgba(255, 255, 255, 0.1);
$circle-search-color: rgba(255, 255, 255, 0.2);
$mode: cubic-bezier(0.17, 0.67, 0.55, 1.43);

@keyframes fade {
  from {
    transform: translateX(343px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

* {
  padding: 0;
  margin: 0;
  font-family: inherit;
  box-sizing: border-box;
}

@mixin verti-center-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin verti-center {
  display: flex;
  align-items: center;
}
@mixin verti-center {
  display: flex;
  justify-content: center;
}

@mixin verti-hori-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background: $black url("assets/img/main-bg.webp") no-repeat center top 200px/75%;
  color: $white;
  font-family: "Radio Canada", sans-serif;
}

header {
  margin: 3.125rem 6.25rem;
  position: relative;
  height: 60px;
  @include verti-hori-center;

  .main-logo {
    position: absolute;
    left: 0;
  }

  .navbar {
    transition: all 2s ease-in-out;

    &.mobile-menu {
      display: block;
      animation: fade 0.5s;
      position: fixed;
      right: 0;
      top: 0;
      padding: 100px 150px 100px 50px;
      height: 100vh;
      background: $mobile-menu-overlay;

      & > div {
        display: flex;
        flex-direction: column;

        .circle-search {
          order: 1;
          position: unset;
          width: 100%;
          justify-content: flex-start;
          padding: 0 1rem;
          text-transform: uppercase;
          color: $white;
          height: 40px;

          span {
            display: block;
            margin-left: 0.5rem;
          }
        }

        ul {
          order: 2;

          li {
            margin: 0.5rem 1rem;
          }
        }
      }

      ul {
        flex-direction: column;
      }
    }
    ul {
      list-style: none;
      display: flex;

      li {
        margin: 0 1rem;

        a {
          text-decoration: none;
          color: $white;
          text-transform: uppercase;

          &.active {
            color: $orange;
          }
        }
      }
    }
  }

  .circle-search {
    @include verti-hori-center;
    position: absolute;
    right: 0;
    top: 0;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    background: $circle-search-color;
    border: none;

    span {
      display: none;
    }
  }
}

.hamburger {
  display: none;
  margin: 0;
  margin-left: 15px;
  padding: 0;
  transition: opacity 0.3s;

  &.isactive {
    .line:nth-child(2) {
      opacity: 0;
    }

    .line:nth-child(1) {
      transform: translateY(13px) rotate(45deg);
    }

    .line:nth-child(3) {
      transform: translateY(-13px) rotate(-45deg);
    }
  }

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }

  .line {
    width: 50px;
    height: 5px;
    background: $hemburger-menu-color;
    margin: 8px auto;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
  }
}

@media only screen and (max-width: 1200px) {
  .hamburger {
    display: block;
    position: absolute;
    right: 0;
    z-index: 1;
  }
  .navbar {
    display: none;
  }
}

.slider-container {
  height: 800px;
  margin: 0 auto;
  max-width: 1240px;
  position: relative;
  top: 0;
  width: 100%;
  .bullet-container {
    align-items: center;
    bottom: 170px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 250px;

    .bullet {
      opacity: 0.5;
      position: relative;
      height: 25px;
      width: 130px;
      white-space: nowrap;
      margin: 0;

      &.active {
        opacity: 1;
      }

      &:first-child {
        &::after {
          content: "RECEPTIONS";
          position: absolute;
          height: 10px;
          width: 10px;
        }
      }
      &:nth-child(2) {
        &::after {
          content: "AGREEMENTS";
          position: absolute;
          height: 10px;
          width: 10px;
        }
      }
      &:nth-child(3) {
        &::after {
          content: "OUTDOOR";
          position: absolute;
          height: 10px;
          width: 10px;
        }
      }
      &:nth-child(4) {
        &::after {
          content: "EXHIBITIONS";
          position: absolute;
          height: 10px;
          width: 10px;
        }
      }
      &:nth-child(5) {
        &::after {
          content: "ROAD SHOW";
          position: absolute;
          height: 10px;
          width: 10px;
        }
      }
      &:nth-child(6) {
        &::after {
          content: "SECURITY";
          position: absolute;
          height: 10px;
          width: 10px;
        }
      }
      &:nth-child(7) {
        &::after {
          content: "DESIGN OFFICE";
          position: absolute;
          height: 10px;
          width: 10px;
        }
      }
    }
  }
  .slider-content {
    height: 100%;
    position: relative;
    top: 0;
    width: 100%;
    max-width: 1240px;
    margin: auto;
    .slider-single {
      position: absolute;
      z-index: 0;
      left: 0;
      top: 0;
      width: 450px;
      height: 626px;
      transition: z-index 0ms $delay;

      &.active {
        left: 50%;
        transform: translateX(-50%);
      }

      .slider-single-image {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
        transition: $time $mode;
        transform: scale(0);
        opacity: 0;
      }
      .slider-single-title,
      .slider-label {
        display: block;
        float: left;
        margin: 16px 0 0 20px;
        font-size: 20px;
        font-weight: 400;
        color: #ffffff;
        transition: $time $mode;
        opacity: 0;
      }
      &.preactivede {
        //z-index: 0;
        .slider-single-image {
          //opacity: 0;
          transform: translateX(-50%) scale(0);
        }
        .slider-label {
          opacity: 0;
          display: block;
        }
      }
      &.preactive {
        z-index: 1;

        .slider-label {
          opacity: 1;
          display: block;
          position: relative;
          top: 80px;
          left: -20px;
          font-size: 12px;
        }
        .slider-single-image {
          opacity: 0.3;
          width: 220px;
          height: 220px;
          object-fit: cover;
          top: 50%;
          transform: translateX(-25%) scale(0.8) translateY(-50%);
        }
        .slider-single-title {
          transform: translateX(-150px);
        }
      }
      &.proactive {
        z-index: 1;
        left: unset;
        right: 0;
        text-align: right;

        .slider-label {
          opacity: 1;
          display: block;
          position: relative;
          top: 80px;
          right: -205px;
          font-size: 12px;
        }

        .slider-single-image {
          height: 220px;
          object-fit: cover;
          opacity: 0.3;
          top: 50%;
          transform: translateX(25%) scale(0.8) translateY(-50%);
          width: 220px;
          right: 0;
          left: unset;
          margin-left: auto;
        }
        .slider-single-title,
        .slider-label {
          transform: translateX(150px);
        }
      }
      &.proactivede {
        //z-index: 0;
        .slider-single-image {
          //opacity: 0;
          transform: translateX(50%) scale(0);
        }
      }
      &.active {
        z-index: 2;

        .slider-label {
          opacity: 0 !important;
          display: block;
        }
        .slider-single-image {
          opacity: 1;
          transform: translateX(0%) scale(1);
          height: 626px;
          object-fit: cover;
          width: 450px;
        }
        .slider-single-title {
          opacity: 1;
          transition-delay: 200ms;
          transform: translateX(0px);
          position: absolute;
          bottom: 0;
          left: -260px;
          width: 240px;
          font-size: 14px;
          padding: 10px 0 0 10px;
          line-height: 1.5;
        }
        .slider-label {
          opacity: 1;
          transition-delay: 200ms;
          transform: translateX(0px);
        }
      }
    }
  }
  .slider-left {
    position: absolute;
    z-index: 3;
    display: block;
    left: -40px;
    top: 55%;
    color: #ffffff;
    transform: translateY(-50%);
    padding: 20px 15px;
    margin-right: -2px;
  }
  .slider-right {
    position: absolute;
    z-index: 3;
    display: block;
    right: -46px;
    margin-left: -2px;
    top: 55%;
    color: #ffffff;
    transform: translateY(-50%);
    padding: 20px 15px;
  }
  .not-visible {
    display: none !important;
  }
}

.slider-single {
  .slider-label {
    position: relative;
    &::before {
      position: absolute;
      color: $orange;
    }
  }

  &:first-of-type {
    .slider-label {
      &::before {
        content: "/01";
      }
    }
  }
  &:nth-of-type(2) {
    .slider-label {
      &::before {
        content: "/02";
      }
    }
  }
  &:nth-of-type(3) {
    .slider-label {
      &::before {
        content: "/03";
      }
    }
  }
  &:nth-of-type(4) {
    .slider-label {
      &::before {
        content: "/04";
      }
    }
  }
  &:nth-of-type(5) {
    .slider-label {
      &::before {
        content: "/05";
      }
    }
  }
  &:nth-of-type(6) {
    .slider-label {
      &::before {
        content: "/06";
      }
    }
  }
  &:nth-of-type(7) {
    .slider-label {
      &::before {
        content: "/07";
      }
    }
  }
  &.proactive {
    .slider-label {
      &::before {
        left: -65px;
      }
    }
  }
  &.preactive {
    .slider-label {
      &::before {
        right: -65px;
      }
    }
  }
}

.center-area {
  @include verti-hori-center;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  z-index: 3;

  .arrow-button {
    background: $orange;
    box-shadow: 0px 4px 16px rgb(0 0 0 / 25%);
    border-radius: 26px;
    color: $white;
    font-size: 24px;
    padding: 9.5px 28px;
    margin-top: 3rem;
    border: 1px solid $orange;
  }
}
